{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "react/no-array-index-key": 0,
    "no-unused-expressions": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-shadow": "off",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "no-console": "off"
  }
}
